<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css">
        <body>
            <%-include ('partials/nav') %>
            <h1>Welcome to the best website</h1>
            <p>You wont find website like this anywhere in the world</p>
        </body>
    </head>
</html>